layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/.local/share/zellij/plugins/zjstatus.wasm" {
                color_rosewater "#ffcccc"
                color_flamingo "#ff9999"
                color_pink "#ff66cc"
                color_mauve "#cc99ff"
                color_darkblue "#3B4261"
                color_red "#ff007c"
                color_peach "#ff966c"
                color_yellow "#f0c674"
                color_green "#4fd6be"
                color_teal "#00FFFF"
                color_sky "#04d1f9"
                color_sapphire "#74c7ec"
                color_blue "#89b4fa"
                color_lavender "#b4befe"
                color_text "#cdd6f4"
                color_subtext1 "#bac2de"
                color_subtext0 "#a6adc8"
                color_overlay2 "#9399b2"
                color_overlay1 "#7f849c"
                color_overlay0 "#6c7086"
                color_surface2 "#585b70"
                color_surface1 "#3B4261"
                color_surface0 "#1E2030"
                color_base "#1e1e2e"
                color_mantle "#181825"
                color_crust "#11111b"

                // #[bg=$blue,fg=$crust]󰃭 #[bg=$surface1,fg=$blue,bold] {datetime}#[bg=$surface1,fg=$surface1]
                // #[bg=$surface1,fg=$blue,bold]{command_user}@{command_host}#[bg=$surface0,fg=$surface1]
                // #[bg=$surface0,fg=$surface1]{command_git_branch}#[bg=$surface0,fg=$surface1]
                format_left   "#[bg=$surface0] {mode} #[bg=$surface0] {tabs}{pipe_neovim_tabs}{pipe_neovim_tagged_buffers}{pipe_neovim_buffers}"
                // format_center "{notifications}"
                format_right  "{notifications} #[bg=$surface0,fg=$surface1]#[bg=$surface0,fg=$surface1]#[bg=$surface0,fg=$blue]#[bg=$blue,fg=$crust]󰃭 #[bg=$surface1,fg=$blue,bold] {datetime}#[bg=$surface1,fg=$surface1]"
                format_space  "#[bg=$surface0]"
                format_hide_on_overlength "true"
                format_precedence "lrc"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[bg=$surface0]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal        "#[bg=$surface0,fg=$blue,bold]NORMAL"
                mode_tmux          "#[bg=$mauve,fg=$crust,bold] TMUX#[bg=$surface0,fg=$mauve]"
                mode_locked        "#[bg=$surface0,fg=$red,bold]LOCKED"
                mode_pane          "#[bg=$teal,fg=$crust,bold] PANE#[bg=$surface0,fg=$teal]"
                mode_tab           "#[bg=$teal,fg=$crust,bold] TAB#[bg=$surface0,fg=$teal]"
                mode_scroll        "#[bg=$flamingo,fg=$crust,bold] SCROLL#[bg=$surface0,fg=$flamingo]"
                mode_enter_search  "#[bg=$flamingo,fg=$crust,bold] ENT-SEARCH#[bg=$surfaco,fg=$flamingo]"
                mode_search        "#[bg=$flamingo,fg=$crust,bold] SEARCHARCH#[bg=$surfac0,fg=$flamingo]"
                mode_resize        "#[bg=$yellow,fg=$crust,bold] RESIZE#[bg=$surfac0,fg=$yellow]"
                mode_rename_tab    "#[bg=$yellow,fg=$crust,bold] RENAME-TAB#[bg=$surface0,fg=$yellow]"
                mode_rename_pane   "#[bg=$yellow,fg=$crust,bold] RENAME-PANE#[bg=$surface0,fg=$yellow]"
                mode_move          "#[bg=$yellow,fg=$crust,bold] MOVE#[bg=$surface0,fg=$yellow]"
                mode_session       "#[bg=$pink,fg=$crust,bold] SESSION#[bg=$surface0,fg=$pink]"
                mode_prompt        "#[bg=$pink,fg=$crust,bold] PROMPT#[bg=$surface0,fg=$pink]"

                tab_normal              "#[bg=$surface0,fg=$blue]#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface1,fg=$blue,bold] {name}#[bg=$surface0,fg=$surface1]"
                tab_normal_fullscreen   "#[bg=$surface0,fg=$blue]#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface1,fg=$blue,bold] {name}{fullscreen_indicator}#[bg=$surface0,fg=$surface1]"
                tab_normal_sync         "#[bg=$surface0,fg=$blue]#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface1,fg=$blue,bold] {name}{sync_indicator}#[bg=$surface0,fg=$surface1]"
                tab_active              "#[bg=$surface0,fg=$green]#[bg=$green,fg=$crust,bold]{index} #[bg=$surface1,fg=$green,bold] {name}#[bg=$surface0,fg=$surface1]"
                tab_active_fullscreen   "#[bg=$surface0,fg=$green]#[bg=$green,fg=$crust,bold]{index} #[bg=$surface1,fg=$green,bold] {name}{fullscreen_indicator}#[bg=$surface0,fg=$surface1]"
                tab_active_sync         "#[bg=$surface0,fg=$green]#[bg=$green,fg=$crust,bold]{index} #[bg=$surface1,fg=$green,bold] {name}{sync_indicator}#[bg=$surface0,fg=$surface1]"
                tab_separator           "#[bg=$surface0] "

                tab_sync_indicator       "  "
                tab_fullscreen_indicator " 󰊓 "
                tab_floating_indicator   " 󰹙 "

                notification_format_unread "#[bg=surface0,fg=$yellow]#[bg=$yellow,fg=$crust] #[bg=$yellow,fg=$surface0]{message}#[bg=$surface0,fg=$yellow]"
                notification_format_no_notifications ""
                notification_show_interval "5"

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[bg=$surface1,fg=$blue,bold] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                // Number of running docker containers
                // command_docker_containers_command     "bash -c 'docker ps -q | wc -l'"
                // command_docker_containers_format      "#[bg=$surface0,fg=$surface1]#[bg=$surface1,fg=$blue,bold]🐳{stdout}#[bg=$surface0,fg=$surface1]"
                // command_docker_containers_interval    "360"
                // command_docker_containers_rendermode  "static"

                // Numbero of running neovim instances
                // command_neovim_instances_command     "bash -c \"ps -C nvim -o pid,args --no-headers | grep -v -- '--embed' | wc -l\""
                // command_neovim_instances_format      "#[bg=$surface0,fg=$surface1]#[bg=$surface1,fg=$blue,bold]📟{stdout}#[bg=$surface0,fg=$surface1]"
                // command_neovim_instances_interval    "120"
                // command_neovim_instances_rendermode  "static"

                command_host_command    "uname -n"
                command_host_format     "{stdout}"
                command_host_interval   "0"
                command_host_rendermode "static"

                command_user_command    "whoami"
                command_user_format     "{stdout}"
                command_user_interval   "10"
                command_user_rendermode "static"

                datetime          "{format}"
                datetime_format   "%Y-%m-%d %H:%M"
                // datetime_format   "%d %A"
                datetime_timezone "Asia/Tokyo"

                pipe_neovim_tabs_format "{output}"
                pipe_neovim_tabs_rendermode "dynamic"

                pipe_neovim_buffers_format "{output}"
                pipe_neovim_buffers_rendermode "dynamic"

                pipe_neovim_tagged_buffers_format "{output}"
                pipe_neovim_tagged_buffers_rendermode "dynamic"
            }
        }
        children
    }
}
